<!DOCTYPE html>

<html data-ng-app="uploadDemo">
<head>
    <title>Upload</title>
    <script src="~/Content/Scripts/angular.min.js"></script>
    <script src="~/Content/Scripts/angular-file-upload.min.js"></script>
    <script type="text/javascript">
        angular.module('uploadDemo', ['angularFileUpload'])
            .controller('uploadCtrl', ['$scope', '$upload', function ($scope, $upload) {

                $scope.upload = function (file) {
                    if (file) {
                        $upload.upload({
                            url: 'api/upload',
                            fields: { 'username': $scope.username },
                            file: file
                        }).success(function (data, status, headers, config) {
                            console.log(config);
                            alert("Thanks for the upload!\r\nFilename: " + config.file[0].name + "\r\nResponse: " + data);
                        }).error(function(error) {
                            alert("Ooops, something went wrong!");
                            console.log("Error!", error);
                        });
                    }
                };

            }])
    </script>
</head>
<body data-ng-controller="uploadCtrl">

    <form name="uploadForm">
        <fieldset>
            <legend>Upload file</legend>
            <div>
                <label>Username:</label>
                <input type="text" name="userName" ng-model="username" size="48" required="">
            </div>
            <div>
                <label>File:</label>
                <input type="file" ng-file-select="" ng-model="file" name="file" accept="image/*">
            </div>

            <button ng-click="upload(file)">Submit</button>
        </fieldset>
        <br>
    </form>

</body>
</html>